.b{
    background-color:aquamarine
}

.htd{
    font-family: 'Mystery Quest', cursive;
    font-size: 50px;
    margin-left: 500px;
    color:darkblue;
}
h2{
    width: 500px;
}


.o{
	width: 300px;
	height: 300px;
}
#my_carousel{
	background-color: deeppink;
}
#my_carousel img{
	height: 350px;
    width: 300px;
	margin-top: 35px;
}
.carousel-inner p{
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 20px;
	color: aqua;
}
.footer{
    color: darkviolet;
}

